<div class="home-menu ">
    <div class="menuholder">
        <ul class="menuuou slide">
            <li><a href="Downloads/Terms conditions.pdf" target="_blank" class="red">Instructions</a></li>

            <li><a href="http://uou.ac.in/programmes" target="_blank" class="red">Programmes</a>            </li>
            <li><a href="http://www.uou.ac.in/rc" target="_blank" class="green">Regional Centers</a></li>

            <li><a href="http://www.uou.ac.in/forms" target="_blank" class="green">Essential Forms</a></li>
            <li><a href="StudentCorner.aspx" class="red">Student Corner</a></li>
        </ul>
        <marquee width="70%"><b style="color:Red;">* Note:Only For New Students, For Any Grievance / Enquiry mail us : onlineadmission@uou.ac.in</b></marquee>

        <div class="shadow"></div>
        <br /><center>
            <table>
                <tr>
                    <td valign=top>
                        <div class="arrow_box">
                            <h1 class="logo">
                                <span class="style1">Step 1:</span> read the instructons carefully
                            </h1>
                        </div>
                        <div class="arrow_box">
                            <h1 class="logo">
                                <span class="style1">Step 2:</span> Choose programme , study centre and fill the
                                details
                            </h1>
                        </div>
                        <div class="arrow_box">
                            <h1 class="logo">
                                <span class="style1">Step 3:</span> make payment online (via Netbanking/
                                Debit/credit card) or By Challan
                            </h1>
                        </div>
                        <div class="arrow_box">
                            <h1 class="logo">
                                <span class="style1">Step 4:</span> take a print out of the form
                            </h1>
                        </div>
                        <div class="arrow_boxl">
                            <h1 class="logo">
                                <span class="style1">Step 5:</span> submit it to the study centre along with
                                testimonials
                            </h1>
                        </div>
                    </td>
                    <td valign=top align=left>
                        <img src="Images/onlinebann1.png" height="310px" />
                        <a href="/Student">   <img src="Images/online2.png" height="105px" width="390px" /></a>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</div>
<div style="clear:both"></div>
